<div class="main-footer padding-top112 sm-padding-top80 dark-bg" style="background:#222222">
  
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-12 col-sm-6">
                                    <div class="widget widget-about">
                                        <a class="logo padding-bottom37" href="index.html"><img src="../../../content/images/logo2-transparent.png" alt="Knight Logo"></a>
                                        <p class="taller">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aut dignissimos ea est, impedit incidunt, laboriosam maxime molestias numquam odio officiis, possimus quo rem repellendus sapiente tenetur voluptas. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    </div><!-- /widget-about -->
                                </div><!-- /col-sm-6 -->
                                <div class="col-md-12 col-sm-6">
                                    <div class="widget widget-contact-info widget-contact-info-style1">
                                        <h6 class="widget-title heading-alt-style8 short-underline">Contact Info</h6>
                                        <address>
                                            <p class="clearfix">
                                                <i class="icon icon-knight-220"></i><span>16 East Wood Avenue, New York, NY 778569, USA</span>
                                            </p>
                                            <div class="empty-space38 sm-empty-space0"></div>
                                            <p class="clearfix">
                                                <i class="icon icon-knight-284"></i><span>PHONE: +444 123456789</span>
                                            </p>
                                            <p class="clearfix">
                                                <i class="icon icon-knight-302"></i><span>FAX: +444 123456789</span>
                                            </p>
                                            <p class="clearfix">
                                                <i class="icon icon-knight-365"></i><span>EMAIL: <a href="mailto:hello@domain.com">hello@domain.com</a></span>
                                            </p>
                                            <p class="clearfix">
                                                <i class="icon large-icon icon-knight-283"></i><span>WEB: <a class="underline" href="http://domain.com">www.domain.com</a></span>
                                            </p>
                                        </address>
                                    </div><!-- /widget-contact-info -->
                                </div><!-- /col-sm-6 -->
                            </div><!-- /row -->
                        </div><!-- /col-md-3 -->
                        <div class="empty-space35 sm-empty-space35"></div>
                        <div class="col-md-8 col-md-offset-1">
                            <div class="widget widget-contact-form widget-contact-form-style1">
                                <h6 class="widget-title heading-alt-style8 short-underline">Contact Form</h6>
                                <form action="php/contact.php" class="contact-form">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input type="text" class="contact-form-name" name="name" id="name" placeholder="Name" required>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="email" class="contact-form-email" name="email" id="email" placeholder="Email" required>
                                        </div>
                                        <div class="col-md-12">
                                            <input type="text" class="contact-form-subject" name="subject" id="subject" placeholder="Subject">
                                        </div>
                                        <div class="col-md-12">
                                            <textarea class="contact-form-message" name="message" cols="90" rows="10" placeholder="Content" required></textarea>
                                        </div>
                                        <input type="submit" class="form-submit" name="form-submit" value="Send Message">
                                    </div><!-- /row -->
                                </form>
                                <div class="contact-form-message"></div>
                            </div><!-- /widget-contact-form -->
                        </div><!-- /col-md-8 -->
                    </div><!-- /row -->
                </div><!-- /container -->
                <div class="footer-bottom-bar margin-top120 sm-margin-top65 clearfix">
                    <div class="container">
                        <div class="socials-container">
                            <p class="uppercase">Social Networks:</p>
                            <div class="widget widget-socials widget-socials-big">
                                <ul class="clearfix">
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div><!-- /widget-socials -->
                        </div><!-- /socials-container -->
                        <p class="copyright uppercase">© 2017 Web design agency. Designed by rajat</p>
                    </div><!-- /container -->
                </div><!-- /footer-bottom-bar -->
            
</div>
